/*@font-face {
    font-family: YouSheShenTiHao;
    src: url('https://resource.hellofont.cn/fonts/poem/7211.ttf') format('TrueType'), url('https://resource.hellofont.cn/fonts/poem/7211.woff') format('woff'), url('https://www.hellofont.cn/resource/fonts/poem/7211.ttf') format('TrueType'), url('https://www.hellofont.cn/resource/fonts/poem/7211.woff') format('woff');
    font-display: swap;
}*/

/* 字体：https://IFTC-XLKJ.github.io\fonts\YouSheShenTiHao.ttf */

