body {
    margin: 0;
}

#main {
    display: grid;
    grid-template-columns: auto auto auto;
}

#widgets {
    width: 100px;
    height: calc(100vh - 2px);
    border: 1px solid #47474788;
    border-radius: 0 7px 7px 0;
}

#docmain {
    width: calc(100vw - 2px - 100px - 500px);
    height: 100vh;
    border-radius: 7px;
    background-color: #F0F0F0FF;
    overflow-y: auto;
}

#docmain::-webkit-scrollbar {
    width: 0;
}

#properties {
    width: 500px;
    height: 100vh;
}

.widget {
    border: #47474788;
    border-radius: 7px;
    user-select: none;
    width: 80px;
    height: 80px;
    margin: auto;
}

#doc {
    width: 80%;
    height: auto;
    min-height: 100px;
    background-color: white;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

input {
    outline: none;
    border: none;
    background-color: #00000000;
}

#doctitle input {
    width: 98%;
    height: 40px;
    border-bottom: 1px solid #333;
    margin: auto;
    padding: 10px;
    font-size: 36px;
}

[data-widget="true"]:hover {
    cursor: grab;
}

[data-widget="true"]:active {
    cursor: grabbing;
}

p {
    width: fit-content;
}