body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

#main {
    display: grid;
    grid-template-columns: auto auto auto;
}

#widgets {
    width: 100px;
    height: calc(100vh - 2px);
    border-radius: 0 7px 7px 0;
    z-index: 10000;
    box-shadow: 0 0 10px #47474788;
}

#docmain {
    width: calc(100vw - 2px - 100px - 500px);
    height: 100vh;
    border-radius: 7px;
    background-color: #F0F0F0FF;
    overflow-y: auto;
}

#docmain::-webkit-scrollbar {
    width: 0;
}

#properties {
    width: 500px;
    height: 100vh;
    box-shadow: 0 0 10px #47474788;
}

.widget {
    border: #47474788;
    border-radius: 7px;
    user-select: none;
    width: 80px;
    height: 80px;
    margin: auto;
    z-index: 10000;
}

#doc {
    width: 80%;
    height: auto;
    min-height: 100px;
    background-color: white;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

input {
    outline: none;
    border: none;
    background-color: #00000000;
}

#doctitle input {
    width: 98%;
    height: 40px;
    border-bottom: 1px solid #333;
    margin: auto;
    padding: 10px;
    font-size: 36px;
}

[data-widget="true"]:hover {
    cursor: grab;
}

[data-widget="true"]:active {
    cursor: grabbing;
}

#doc p {
    width: fit-content;
    white-space: pre-wrap;
}

#doc img {
    max-width: 99.9%;
    width: auto;
    white-space: pre-wrap;
}

#nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 0 10px #47474788;
}

#Export {
    font-size: 28px;
    padding: 20px;
    user-select: none;
    cursor: pointer;
}