#main {
    width: calc(100vw - 16px);
    height: calc(100vh - 76px);
}

#apps {
    width: 99%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    min-height: calc(100vh - 76px);
}

#app_list {
    width: 100%;
}

#app_list_title {
    margin-left: calc(50% - 64px);
    margin-right: calc(50% - 64px);
    font-size: 32px;
    position: relative;
    font-weight: bold;
    color: #333;
    display: inline-block;
}

#app_list_title::after {
    content: '应用列表';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #333;
    transform: scaleY(-1);
    transform-origin: bottom;
    filter: blur(2px);
    opacity: 0.6;
}

#titlebg {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, #FFFFFF00, #FFFFFF8c, #FFFFFFef, white);
}

#app_list_content>table {
    margin-top: 50px;
    width: 90%;
    font-size: large;
    margin-left: calc(50% - 45%);
    margin-right: calc(50% - 45%);
}

.app_icon {
    width: 40%;
    height: 40%;
    border-radius: 7%;
    margin-left: calc(50% - 20%);
    margin-right: calc(50% - 20%);
    margin-top: calc(30% - 20%);
    margin-bottom: calc(30% - 20%);
}

.app_info_item {
    text-align: center;
    user-select: none;
}

.app_item {
    transition: transform 0.4s;
}

.app_item:hover {
    box-shadow: 0px 0px 5px 5px rgba(51, 51, 51, 0.5);
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1.01);
    z-index: 1000;
}