body {
    margin: 0;
    display: grid;
    grid-template-rows: 50px 1fr;
}

::-webkit-scrollbar {
    width: 0;
}

.nav {
    width: 100vw;
    height: 100%;
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: 50px 100px auto;
}

#app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 360px;
}

.blocklyToolboxDiv {
    background-color: white;
    box-shadow: 0 0 5px #47474788;
    border-radius: 0 5px 5px 0;
}

.blocklyHidden {
    display: none !important;
}

.blocklyTreeRow {
    border-radius: 10px;
}

input::selection {
    background-color: lightskyblue;
    color: white;
    font-weight: normal;
}

#preview {
    overflow-y: auto;
    height: calc(100vh - 50px);
}

#preciew div {
    word-wrap: break-word;
    word-break: keep-all;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.menu-main {
    position: fixed;
    width: 100px;
    height: fit-content;
    padding: 3px;
    border-radius: 7px;
    box-shadow: 0 0 3px #47474788;
}

#pre-refresh {
    text-align: center;
    cursor: pointer;
}

#icon {
    width: 50px;
    height: 50px;
}

#sources {
    user-select: none;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sources-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: #47474788;
}

.sources-main {
    width: 75vw;
    height: fit-content;
    background-color: white;
    padding: 10px;
    max-height: 75vh;
    overflow-y: auto;
    margin: auto;
    border-radius: 15px;
}

.images {
    display: grid;
    grid-template-columns: auto auto auto auto;
}