@keyframes open {
    0% {
        transform: translate(-50%, -50%);
        transform: scale(0);
    }
    100% {
        transform: translate(-50%, -50%);
        transform: scale(1);
    }
}

@keyframes close {
    0% {
        transform: translate(-50%, -50%);
        transform: scale(1);
    }
    100% {
        transform: translate(-50%, -50%);
        transform: scale(0);
    }
}

.dialog-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-height: 90vh;
    border-radius: 7px;
    padding: 5px;
    background-color: white;
    animation: open 0.05s linear 1;
}

.dialog-close {
    border: none;
    border-radius: 30px;
    width: 60px;
    height: 25px;
    float: right;
    margin: 5px;
}